{% extends '::base.html.twig' %}
{% block title %}{{ parent() }}  Calculator - somme{% endblock %}
{% block body -%}
    <h1>Somme</h1>
    <br>
    <div class="test-target">{{ somme }}</div>

{% endblock %}
